/* external-css */
.div1{
    background-color: blanchedalmond;
    padding-top: 30px;
    padding-left:30px ;
    padding-bottom: 30px;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(109, 19, 19);
}

.div2{
    margin-top: 30px;
    background-color: beige;
    padding-top: 30px;
    padding-left:30px ;
    padding-bottom: 30px;
}